<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2> <script>
        document.getElementById('count').value = count;
      </script> </h2>
    <h2>Cpu Server: <%= CPUServer %></h2>
    <h2>Memory Usage: <%= Memusage %></h2>
    <h2>Cpu Total: <%= CPUTotal %></h2>
    <h2>Requests: <%= TotalNumberofRequests %></h2>
    <p>Welcome to <%= title %></p>
  </body>
</html>
